<template>
  <section id="contact" class="section-padding" >
    <div class="alert alert-success" role="alert" v-if="is_success">
      <h4 class="alert-heading">Response:</h4>
      <div class="col-md-5 col-sm-4 " >
        <textarea
                class="json_view"
                rows="6"
                cols="100"
                placeholder="Json here"
                readonly="true">
            {{ success_data }}
      </textarea>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Добавить token</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-5 col-sm-8 marb20">
          <div class="contact-info">
            <div id="errormessage">
              <div class="validation"><has-error :form="form" field="email"/></div>
            </div>
            <form @submit.prevent="add" role="form" class="contactForm"
                  @input="setData">
              <div class="form-group">
                <input type="text" class="form-control br-radius-zero" maxlength="30"
                       v-model="form.title"
                       :class="{ 'is-invalid': form.errors.has('title') }"
                       placeholder="Title"/>
              </div>
              <div class="form-group">
                <input v-model="form.description" maxlength="30" :class="{ 'is-invalid': form.errors.has('description') }" placeholder="description" type="text" class="form-control br-radius-zero" >
              </div>
              <div class="form-group">
                <textarea v-model="form.token"
                          :class="{ 'is-invalid': form.errors.has('token') }"
                          placeholder="token"
                          rows="6"
                          cols="31"
                          readonly="true"
                          class="form-control br-radius-zero" >
                </textarea>
              </div>

              <div class="form-action" v-if="!is_success">
                <v-button :loading="form.busy" class="btn btn-form" >
                  Send
                </v-button>
              </div>
            </form>
          </div>
        </div>



        <div class="col-md-5 col-sm-4" >
          <h4>Token default:</h4>
          <textarea
                  class="json_view"
                  rows="6"
                  cols="31"
                  placeholder="Json here"
                  readonly="true">
            {{ json_view }}
            </textarea>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>
  .json_view {
    border:      1px solid black;
    font-family: monospace;
    font-size:   10pt;
  }
</style>

<script>

    import Form from 'vform'
    import axios from 'axios'

    export default {
        // middleware: 'auth',
        data() {
            return {
                form: new Form({
                    title: '',
                    description: '',
                    token: "",
                }),

                json_view: {
                    alg: "Base64",
                    sub: "",
                    name: "",
                },
                success_data: {},
                is_success: false
            }
        },
        methods: {
            async add() {
                let { data } = await axios.post('/api/notes/add', this.form);

                this.success_data = data;
                this.is_success = true;

                this.cleanForm();

                setTimeout( () => this.$router.push({  name: 'home'}), 10000);

            },
            setData: function(){
                this.json_view.sub = this.form.title;
                this.json_view.name = this.form.description;

                this.decode(this.form.title + this.form.description)
            },

            decode: function (str) {
                let utf8Bytes = encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function (match, p1) {
                    return String.fromCharCode('0x' + p1);
                });

                this.form.token = btoa(utf8Bytes);
            },

            cleanForm: function () {
                this.form.title = "";
                this.form.description = "";
                this.form.token = "";
            }

        },
    }
</script>

