<template>
  <section id="contact" class="section-padding">

    <div class="alert alert-success" role="alert" v-if="is_success">
      <h4 class="alert-heading">Response:</h4>
      <div class="col-md-5 col-sm-4 " >
        <textarea
                class="json_view"
                rows="6"
                cols="100"
                placeholder="Json here"
                readonly="true">
            {{ success_data }}
      </textarea>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <form @submit.prevent="destroy" role="form" class="contactForm">
            <input type="hidden" v-model="form.id">
          <v-button :loading="form.busy" class="btn btn-form btn-danger">
            Delete
          </v-button>
          </form>
        </div>
        <div class="col-md-12">
          <h2 class="ser-title">Редактировать token</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-5 col-sm-8 marb20">
          <div class="contact-info">
            <div id="errormessage">
              <div class="validation"><has-error :form="form" field="email"/></div>
            </div>
            <form @submit.prevent="edit" role="form" class="contactForm"
                  @input="setData">
              <div class="form-group">
                <input type="text" class="form-control br-radius-zero" maxlength="30"
                       v-model="form.title"
                       :class="{ 'is-invalid': form.errors.has('title') }"
                       placeholder="Title"
                />
              </div>
              <div class="form-group">
                <input v-model="form.description" maxlength="30" :class="{ 'is-invalid': form.errors.has('description') }" placeholder="description" type="text" class="form-control br-radius-zero" >
              </div>
              <div class="form-group">
                <textarea v-model="form.token"
                          :class="{ 'is-invalid': form.errors.has('token') }"
                          placeholder="token"
                          rows="6"
                          cols="31"
                          readonly="true"
                          class="form-control br-radius-zero" >
                </textarea>
              </div>

              <input type="hidden" v-model="form.id">

              <div class="form-action">
                <v-button :loading="form.busy" class="btn btn-form">
                 Send
                </v-button>
              </div>
            </form>
          </div>
      </div>



        <div class="col-md-5 col-sm-4" v-if="!is_success">
          <h4>Token default:</h4>
          <textarea
                  class="json_view"
                  rows="6"
                  cols="31"
                  placeholder="Json here"
                  readonly="true">
            {{ json_view }}
            </textarea>
        </div>
    </div>
    </div>
  </section>
</template>

<style scoped>
  .json_view {
    border:      1px solid black;
    font-family: monospace;
    font-size:   10pt;
  }
</style>

<script>

import Form from 'vform'
import axios from 'axios'

export default {
 // middleware: 'auth',
    data() {
      return {
          form: new Form({
              id: "",
              title: '',
              description: '',
              token: "",
          }),

          json_view: {
              alg: "Base64",
              sub: "",
              name: "",
          },
          success_data: {},
          is_success: false
      }
    },
    methods: {

        async fetchNote () {

            const { data } = await axios.get('/api/notes/' + this.$route.params.token)

            this.form.id = data.id;
            this.form.title = data.attributes.title;
            this.form.description = data.attributes.description;
            this.form.token = data.attributes.token;


           // this.form = { ...data.attributes };
        },

        async edit() {
            let { data } = await axios.put('/api/notes/edit/' + this.$route.params.token, this.form);

            this.success_data = data;
            this.is_success = true;

            setTimeout( () => this.$router.push({  name: 'home'}), 10000);
        },

        destroy() {
            axios.delete('/api/notes/destroy/' + this.$route.params.token, this.form.id);

            this.$router.push({  name: 'home'})
        },

        setData: function(){
          this.json_view.sub = this.form.title;
          this.json_view.name = this.form.description;

          this.decode(this.form.title + this.form.description)
        },

        decode: function (str) {
           let utf8Bytes = encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function (match, p1) {
                return String.fromCharCode('0x' + p1);
            });

            this.form.token = btoa(utf8Bytes);
        },

},
    created(){
        this.fetchNote()
    }
}
</script>

