<template>
  <div>
    <h3 class="text-center mb-5">Здесь описываются api запросы (с routes/api.php), только с методом - get.</h3>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Route</th>
        <th scope="col">Description</th>
        <th scope="col">Url</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>/user</td>
        <td>Получить собственные данные (необходимо быть авторизованым)</td>
        <td>#</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>/users/{id}</td>
        <td>Получить конкретного пользователя по id</td>
        <td>#</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>/notes</td>
        <td>Получение всех записей (принимает параметры ?page and ?limit)</td>
        <td>#</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>/notes/{token}</td>
        <td>Получение записи по токену</td>
        <td>#</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

