<template>
  <div>
    <section id="doctor-team" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="ser-title">Notes!</h2>
            <hr class="botm-line">
          </div>
          <template v-if="notes.data">
          <div class="col-md-4 col-sm-3 col-xs-6" v-for="note in notes.data">
                <h3>Path: <a :href="note.links.self" title="api">api/notes/token</a></h3>
            <div>
              <router-link :to="'note/edit/' + note.attributes.token">Edit</router-link>

            </div>
            <textarea
                    class="json_view"
                    rows="6"
                    cols="35"
                    placeholder="Json here"
                    readonly="true"
            >
              {{ note }}
            </textarea>
          </div>
          </template>

        </div>
      </div>
    </section>
  </div>
</template>

<style scoped>
  .json_view {
    border:      1px solid black;
    font-family: monospace;
    font-size:   10pt;
  }
</style>
<script>

import axios from 'axios';

export default {
  middleware: 'auth',

  metaInfo () {
    return {
        title: this.$t('home'),
    }
  },
    data: function() {
        return {
            notes: {},
            perPage: 2

        }
    },

    methods: {
      async getNotes()
      {
          this.notes = await axios.get('/api/notes').then(response => response.data);
      }
    },
    created(){
      this.getNotes();
    }
}
</script>
