<template>
  <section id="contact" class="section-padding">
    <div class="alert alert-success" role="alert" v-if="is_success">
      <h4 class="alert-heading">Response:</h4>
      <div class="col-md-5 col-sm-4 " >
        <textarea
                class="json_view"
                rows="6"
                cols="100"
                placeholder="Json here"
                readonly="true">
            {{ success_data }}
      </textarea>
      </div>
    </div>

    <div class="container">
      <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Авторизация</h2>
        <div>User: user@gmail.com ; Pass: user</div>
        <hr class="botm-line">
      </div>

        <div class="col-md-5 col-sm-8 marb20">
          <div class="contact-info">
            <h3 class="cnt-ttl">Having Any Query! Or Book an appointment</h3>
            <div class="space"></div>
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form @submit.prevent="login" @keydown="form.onKeydown($event)" role="form" class="contactForm">
              <div class="form-group">
                <input type="email" class="form-control br-radius-zero" v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" placeholder="email" />
                <div class="validation"><has-error :form="form" field="email"/></div>
              </div>
              <div class="form-group">
                <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" placeholder="password" type="password" class="form-control br-radius-zero">
              </div>

              <div class="form-action">
                <v-button :loading="form.busy" class="btn btn-form">
                  {{ $t('login') }}
                </v-button>
              </div>
            </form>
          </div>
        </div>
    </div>
    </div>
  </section>
</template>

<script>
    import Form from 'vform'

    export default {
        middleware: 'guest',

        metaInfo () {
            return { title: this.$t('login') }
        },

        data: () => ({
            form: new Form({
                email: '',
                password: ''
            }),
            remember: false,
            success_data: {},
            is_success: false
        }),

        methods: {
            async login () {
                const { data } = await this.form.post('/api/login')

                this.$store.dispatch('auth/saveToken', {
                    token: data.token,
                    remember: this.remember
                })

                await this.$store.dispatch('auth/fetchUser')

                this.resetForm();

                this.$router.push({  name: 'home'})

            },

            resetForm() {
                this.form.email = "";
                this.form.password = "";
            }
        }
    }
</script>
