<template>
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Регистрация</h2>
          <hr class="botm-line">
        </div>

        <div class="col-md-5 col-sm-8 marb20">
          <div class="contact-info">
            <h3 class="cnt-ttl">Having Any Query! Or Book an appointment</h3>
            <div class="space"></div>
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form @submit.prevent="register" @keydown="form.onKeydown($event)" role="form" class="contactForm">
              <div class="form-group">
                <input type="email" class="form-control br-radius-zero" v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" placeholder="email" />
                <div class="validation"><has-error :form="form" field="email"/></div>
              </div>
              <div class="form-group">
                <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" placeholder="password" type="password" class="form-control br-radius-zero">
              </div>

              <div class="form-group">
                <input v-model="form.password_confirmation" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" placeholder="re-password" type="password" class="form-control br-radius-zero">
              </div>

              <div class="form-action">
                <v-button :loading="form.busy" class="btn btn-form">
                  {{ $t('register') }}
                </v-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Form from 'vform'
import LoginWithGithub from '~/components/LoginWithGithub'

export default {
  middleware: 'guest',

  components: {
    LoginWithGithub
  },

  metaInfo () {
    return { title: this.$t('register') }
  },

  data: () => ({
    form: new Form({
      email: '',
      password: '',
      password_confirmation: ''
    })
  }),

  methods: {
    async register () {
      // Register the user.
      const { data } = await this.form.post('/api/register')

      // Log in the user.
      const { data: { token } } = await this.form.post('/api/login')

      // Save the token.
      this.$store.dispatch('auth/saveToken', { token })

      // Update the user.
      await this.$store.dispatch('auth/updateUser', { user: data })

      // Redirect home.
      this.$router.push({ name: 'home' })
    }
  }
}
</script>
